:root {
    --black: #020202ff;
    --dark-green: #0d2818ff;
    --pakistan-green: #04471cff;
    --sea-green: #058c42ff;
    --malachite: #16db65ff;
}

*, body, html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
}

.logo{
    color: #fafafa;
    font-weight: bold;
}

hr{
    color: var(--malachite);
}

.sidebar {
width: 250px;
background-color: var(--black);
color: white;
display: flex;
flex-direction: column;
}

.sidebar-content {
flex: 1;
overflow-y: auto;
padding: 1rem;
}

.sidebar a {
display: block;
color: white;
text-decoration: none;
padding: 0.75rem 1rem;
border-radius: 0.5rem;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--malachite);
}

.logout-btn {
    background-color: var(--black);
    border: none;
    color: white;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
}

.content {
flex: 1;
padding: 2rem;
overflow-y: auto;
background-color: #f8f9fa;
}